extends layout

block content
  h1= title
  
  ul(id="contact")
    li
        a(href="https://www.facebook.com/advum/" target="_blank") Page facebook
    li
        a(href="https://www.facebook.com/groups/836364699814627/" target="_blank") Groupe facebook
    li Adresse courriel: comite.advum@gmail.com
