extends layout

block content
  h1= title
  
  if user
          p Salut, #{user.fullName}
          
          form(action='/logout', method='POST')
            button.btn.btn-default(type="submit") Logout
        else
          p Bienvenue sur le forum de l'ADVUM
          p
            a.btn.btn-primary(href="/login") Connexion
          p
            span.small Pas de compte?
            span &nbsp;
            a.small(href="/register") Inscrivez-vous         
   
  
  .all
    .sub(id="annonces") 
        h2 
            a(href="") Annonces
        
        .post
            .op 
                a(href="") FakeUser
            .datestamp soumis le 2016-05-26
            .post-content
                p Test, please don't upvote
            .reply
                a(href="") Répondre
            .post
                .op 
                    a(href="") NestedFakeUser
                .datestamp soumis le 2016-05-26
                .post-content
                    p NestedTest, please don't upvote
                .reply
                    a(href="") Répondre    
    .sub(id="Recrutement")
    .sub(id="Présentation")
    .sub(id="Projets")
    .sub(id="")
            