extends layout

block content
  h1= title

  
  .annonces
    h2 Annonces
    .event
      p
        h2 
            a(href="#trucs") Nos trucs
        p(id="trucs")  Description, texte, annonce, blablabla
        
  .calendrier
    h2 Calendrier
    .event
      p
        h2 
            a(href="#variable") Dernier évènement annoncé
        p(id="variable")  Description, texte, annonce, blablabla
        
    .event
      p
        h2 
            a(href="#ad") Avant-dernier évènement annoncé
        p(id="ad")  Description, texte, annonce, blablabla
  