doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    nav
        
        ul
            li
                a(href="/" id="brand")
                    img(src="")
            li 
                a(href="/") Accueil
            li 
                a(href="/contact") Nous joindre
            li 
                a(href="/forum") Forum
            li
                a(href="/about") À propos
    main            
        block content
    
                
    script(src="/javascripts/main.js")